{% extends "todo/base.html" %}

{% block content %}
<div class="row my-5">
    <div class="col">
        <h1>{{ todolist.name }}</h1>
    </div>
    <div class="col-2 d-flex align-items-center justify-content-end">
        <a class="btn btn-outline-primary" href="{% url 'todo:index' %}">Back</a>
    </div>
</div>

<form class="row row-cols-lg-auto g-3 align-items-center mb-3" method="post">
    {% csrf_token %}
    <div class="col-12">
        <input class="form-control" id="item" name="item" type="text">
    </div>
    <div class="col-12">
        <input class="btn btn-primary" type="submit" value="Add">
    </div>
</form>

<div class="row">
    <div class="col">
        <ul class="list-group">
            {% for todoitem in todolist.items.all %}
                <li class="list-group-item">{{ todoitem.item }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
